﻿<!--view for the main button function -->
@using workingDayButton.Models
@model workingDayButton.Models.TimeNow
@{
ViewData["Title"] = "A Next Working Day Button";
}

<!--passing the data from controller to view-->
@{ 
var data = (TimeNow)ViewData["time"];
}

<h1>Next Working Day button</h2>
<p> Press this button to return your next working day!</p>

<input id="nextDayBtn" class="btn btn-primary" type="button" value = "Click Click" onclick="Click1();" /> 
<h2 id="nextDay" style= "display:none">Next working day is: @data.workingDay</h1>

<!--javascript that is called on click -->
<script>
    Click1 = function () {
            var x = document.getElementById("nextDay");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
    }

        }
</script> 